* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: linear-gradient(45deg, #d3b6c1, #ecc2b4);
    display: flex;
    justify-content: center;
    justify-items: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;

}

.container {
    height: 290px;
    margin-top: 100px;
    width: 330px;
    border: none;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
}
.container img{
    margin-left: 40px;
}
.btn {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
}

button {

    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding: 5px;
    background-image: linear-gradient(#dd7a83, #e3bfc3);
    margin: 10px;
    transition: all ease .0001s;

}

img {
    width: 150px;
    height: 150px;
    margin: 20px;
}

.TWO {
    display: flex;
    flex-direction: column;
    display: none;
}

.THREE {
     display: flex;
    flex-direction: column;
    display: none;
    justify-items: center;
}

.TWO img{
    width: 350px;
    height: 250px;
}

.THREE img {
    width: 250px;
    height: 250px;
}